# Ignore node_modules directory
node_modules/

# Ignore build directories
/.next/
/out/

# Ignore coverage directory
/coverage/

# Ignore TypeScript and JavaScript configuration files
/tsconfig.json
/tsconfig.*.json
/jsconfig.json

# Ignore lock files
package-lock.json
yarn.lock
